test/WEB-INF/appengine-generated/
war/boot/
war/WEB-INF/appengine-generated/
war/WEB-INF/classes/
war/WEB-INF/deploy/boot
war/WEB-INF/deploy/
src/com/appspot/bootstrap4gwt/server/meta/
.gwt/
gwt-unitCache
target/
war/WEB-INF/lib/appengine-jsr107cache-1.6.3.jar
war/WEB-INF/lib/gwt-servlet.jar
war/WEB-INF/lib/jsr107cache-1.1.jar