<?xml version="1.0" encoding="utf-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
  <servlet>
    <servlet-name>login</servlet-name>
    <servlet-class>com.appspot.bootstrap4gwt.server.service.LoginServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>login</servlet-name>
    <url-pattern>/boot/login</url-pattern>
  </servlet-mapping>
</web-app>
